@import url(fonts/cantarell/);

* { box-sizing: border-box; font-family: cantarell; color: white; }

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 28);
  font-family: cursive;
}

.nav ul { margin: 0; }

.nav li { display: inline; }

.nav a {
  display: inline-block;
  padding: .5em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bolder;
}

.main-header {
  background: linear-gradient(to bottom, rgb(15, 5, 64), rgb(8, 2, 35));
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.user-avatar img {
  max-height: 100%;
  width: 40px;
  height: 100%;
  object-fit: contain;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.username {
  font-family: cantarell, cursive;
  order: 1;
}

.user-avatar {
  order: 2;
}

.main-nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
  height: 60px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
  height: 100%;
}

.main-nav li {
  padding: 0;
  display: flex;
  align-items: center;
}

.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  font-family: cantarell, cursive;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  height: 100%;
}

.logo {
  font-family: cantarell, cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.banner {
  background: center / contain no-repeat url(img/PlanetChipperHomepage.png);
  background-color: black;
  height: 60vh;
  background-size: 1535px;
}

.downloadbutton {
  background-color: rgb(0, 0, 0, .6);
  background-image: url(/img/Osaka_Stars_side.png);
  background-blend-mode: multiply;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  padding: 1.5%;
  margin: 500px 50px;
}

.bodytext-section {
  text-align: center;
  margin: 1em;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-size: 2.5em;
}

.main-footer {
  background-color: rgb(0, 0, 15);
  padding: 1.1em;
}

.main-footer-container {
  display: flex;
  margin: 1em;
}

.gallery-item {
  margin: 30px;
}

.gallery-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.gallery-item-image {
  height: 350px;
}

.gallery-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.gallery-item-desc {
  flex-grow: 1;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
